.footer {
  font-size: 1.6rem;
  color: $white;
  padding: 5rem 3rem;
  text-align: center;
  border-top: 1px solid $white;
  margin-top: 2rem;

  @include respond(phone) {
    font-size: 1.4rem;
    margin: 1rem;
  }
}
