.sidebar {
  grid-column: 1 / 2;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 3.5rem 0;
    cursor: pointer;

    &:hover .sidebar__icon {
      color: rgba($black, 0.4);
    }

    &:hover .sidebar__span {
      color: rgba($black, 0.4);
    }
  }

  &__icon {
    font-size: 2rem;
    color: $grey-light-3;
    display: block;
    transition: all 0.2s;
  }

  &__span {
    margin-top: 0.8rem;
    font-size: 1.2rem;
    color: $grey-light-3;
    transition: all 0.2s;
  }

  @include respond(780) {
    display: none;
    visibility: hidden;
  }
}
