.icons {
  display: flex;
  align-self: stretch;

  & > * {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    height: 100%;
    cursor: pointer;
  }

  & > *:hover {
    background-image: linear-gradient(
      to right bottom,
      rgba($white, 0.1),
      rgba($white, 0.1)
    );
  }

  & > *:hover .nav__icon {
    color: rgba($black, 0.4);
  }
}

.nav__icon {
  font-size: 3rem;
  color: $white;
  transition: all 0.2s;
}
