.popular-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  grid-column-gap: 4rem;
  grid-row-gap: 1.5rem;
  margin: 3.3rem 2.5rem;
  justify-content: center;
  align-content: flex-start;

  @include respond(780) {
    margin: 1.5rem 2.5rem;
    grid-column: 1 / -1;
    grid-template-columns: repeat(auto-fit, 24rem);
  }

  &__heading {
    grid-column: 1 / -1;
  }

  .loader {
    grid-column: 1 / -1;
    margin-left: -1.5rem;

    @include respond(phone) {
      margin-left: 0rem;
    }
  }
}

.video {
  &-title {
    margin-bottom: 1rem;
  }

  &__img {
    width: 30rem;
    height: 18rem;
    border-radius: 7px;
    box-shadow: $shadow-medium;

    @include respond(780) {
      width: 24rem;
      height: 14rem;
    }

    @include respond(400) {
      width: 20rem;
      height: 12rem;
    }
  }

  &__info {
    margin-top: 0.4rem;

    &__img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
    }
  }
}
