.next {
  &-video {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    a {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-column-gap: 1rem;

      @include respond(1250) {
        grid-column-gap: 2rem;
      }

      @include respond(phone) {
        grid-template-columns: none;
        grid-template-rows: min-content max-content;
        grid-row-gap: 3rem;
      }
    }
  }

  .video__img-secondary {
    height: 10rem;
    width: 16rem;
    border-radius: 3px;
  }
}
