.watch {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 2rem;

  .about-video {
    height: 68vh;
    width: 100%;
    object-fit: contain;

    @include respond(phone) {
      height: 60vh;
    }

    @include respond(400) {
      height: 50vh;
    }
  }

  .info {
    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
      border-bottom: 1px solid $white;
      padding-bottom: 1.5rem;

      @include respond(850) {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 2rem;
      }

      .video-text {
        margin-right: 3rem;
      }

      .video-like {
        display: flex;

        @include respond(phone) {
          flex-wrap: wrap;
        }

        a {
          display: flex;
          align-items: center;

          @include respond(phone) {
            margin: 0.5rem 0;
          }

          &:not(:last-child) {
            margin-right: 1.5rem;
          }

          .like__icon {
            height: 2.2rem;
            width: 2.2rem;
            fill: $white;
          }

          p {
            font-size: 1.4rem;
            color: $grey-light-3;
            padding-left: 0.5rem;
          }
        }
      }
    }

    &-bottom {
      &__info {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 1rem;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

      .video-description {
        grid-column: 2 / 3;
        overflow: hidden;

        @include respond(1250) {
          grid-column: 1 / 3;
        }
      }
    }
  }
}

.subscriberCount {
  margin-top: -1.1rem;
}
