body {
  background-image: linear-gradient(
    to right bottom,
    $red1,
    $red2,
    $red3,
    $red4,
    $red5,
    $red6
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}

.home {
  display: grid;
  grid-template-columns: 9rem 1fr;
}
