body {
  font-family: $font1;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.7;
}

.heading-primary {
  font-size: 3.2rem;
  color: $grey-light-3;
  font-weight: 400;
  font-family: $font2;

  @include respond(1060) {
    font-size: 2.5rem;
  }

  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.heading-secondary {
  font-weight: 400;
  color: $white;
  font-size: 1.8rem;
  border-bottom: 1px solid $white;
  padding-bottom: 2rem;
  margin-bottom: 1.5rem;

  @include respond(780) {
    font-size: 1.6rem;
  }
}

.heading-tertiary {
  font-weight: 400;
  color: $white;
  font-size: 1.8rem;
  border-bottom: 1px solid $white;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;

  @include respond(780) {
    font-size: 1.6rem;
  }
}

.video {
  &-title {
    font-size: 2rem;
    font-weight: 500;
    color: $white;
    line-height: 1.2;

    @include respond(780) {
      font-size: 1.6rem;
    }
  }

  &-title-secondary {
    font-size: 1.6rem;
    font-weight: 400;
    color: $white;
    line-height: 1.2;

    @include respond(1250) {
      font-size: 1.8rem;
    }

    @include respond(780) {
      font-size: 1.6rem;
    }
  }

  &-secondary {
    color: $grey-light-3;
    font-size: 1.4rem;

    @include respond(780) {
      font-size: 1.3rem;
    }
  }

  &-tertiary {
    color: $grey-light-3;
    font-size: 1.2rem;

    @include respond(1250) {
      font-size: 1.4rem;
    }
  }

  &-description {
    font-size: 1.6rem;
    color: $grey-light-4;

    @include respond(780) {
      font-size: 1.4rem;
    }
  }
}
